out
node_modules
.vscode-test/
*.vsix

# Webpacked frontend scripts
resources/html/bundle.js
resources/html/bundle.js.map

# PNGs, as they are merely build from SVGs
resources/**/*.png
# Keep readme PNGs
!readme-res/**/*.png