/* Stylesheet to hold style information for hardwareSelect module */

.argumentSelector .args{
    display: flex;
    flex-direction: column;

}

.argumentSelector .arg {
    display:grid;
    grid-template-areas: 
    "none notif notif notif notif"
    "grab type pad name del";
    grid-template-columns: 2em 1fr 2em 2fr 2em;
    margin: 1em 0;
}

.argumentSelector .arg>* {
    font-size: 1.25em;
}

.argumentSelector .arg .dragger {
    grid-area: grab;
    
    opacity: 0;
    transition: opacity 0.5s;
    cursor: grab;
    user-select: none;
    place-self: stretch stretch;
    text-align: center;
}

.argumentSelector .arg:hover .dragger {
    opacity: 1;
}

.argumentSelector .arg select {
    grid-area: type;
}

.argumentSelector .arg .argName {
    grid-area: name;
}

.argumentSelector .arg button {
    grid-area: del;
}

.argumentSelector .arg .notif {
    grid-area: notif;
    padding-left:2em;
    font-weight: bold;
    text-align: right;
    display: none;
}

.argumentSelector .arg .notif.warn {
    color:var(--vscode-inputValidation-warningBorder);
}

.argumentSelector .arg .notif.err {
    color:var(--vscode-inputValidation-errorBorder);
}


.argumentSelector .addArgument {
    font-size:1.25em;
    padding: 0.35em;
    float:right;
    clear:both;
}