/* Stylesheet to hold style information for hardwareSelect module */

.parameterSelector .params{
    display: flex;
    flex-direction: column;

}

.parameterSelector .param {
    display:grid;
    grid-template-areas: 
    "none notif notif notif notif"
    "grab type  pad   input del";
    grid-template-columns: 2em 1fr 2em 2fr 2em;
    margin: 1em 0;
}

.parameterSelector .param * {
    font-size: 1rem;
}

.parameterSelector .param .dragger {
    grid-area: grab;
    
    opacity: 0;
    transition: opacity 0.5s;
    cursor: grab;
    user-select: none;
    place-self: stretch stretch;
    text-align: center;
}

.parameterSelector .param:hover .dragger {
    opacity: 1;
}

.parameterSelector .param select {
    grid-area: type;
}

.parameterSelector .param .input {
    grid-area: input;
}

.parameterSelector .param button {
    grid-area: del;
}

.parameterSelector .param .notif {
    grid-area: notif;
    padding-left:2em;
    font-weight: bold;
    text-align: right;
    display: none;
}

.parameterSelector .param .notif.warn {
    color:var(--vscode-inputValidation-warningBorder);
}

.parameterSelector .param .notif.err {
    color:var(--vscode-inputValidation-errorBorder);
}


.parameterSelector .addParameter {
    font-size:1.25em;
    padding: 0.35em;
    float:right;
    clear:both;
}