body{
    max-width:720px;
    padding:2em 5em;
    /* margin-left:15%; */
}

h1 {
    margin-bottom:3em;
}

.inputGroup {
    margin-bottom:3em;
}

.inputLine {
    min-width: 400px;
    display:grid;
    grid-template:
        "notif notif notif notif"
        "label input input reset"
        "desc desc enable enable";
    grid-template-columns: minmax(100px, 1fr) 3fr 1fr 2em;
    margin-bottom:1em;
}
  
.inputLine .notif {
    grid-area: notif;
    align-self: stretch;

    text-align: right;
    font-weight: bold;
    font-size: 1.25em;
    display:none;
}

.inputLine .notif.warn {
    color:var(--vscode-inputValidation-warningBorder);
}

.inputLine .notif.err {
    color:var(--vscode-inputValidation-errorBorder);
}

.inputLine .label {
    grid-area:label;
    align-self: stretch;
    font-size: 1.5em;
}

.inputLine .input {
    grid-area:input;
    align-self: stretch;
    font-size: 1.25em;
}

.inputLine>label {
    grid-area:label;
    /* align-self: stretch; */
    font-size: 1.5em;
}

.inputLine .desc {
    grid-area: desc;
    align-self: stretch;
}

.inputLine .enable {
    grid-area: enable;
    align-self: stretch;
}

.inputLine .reset {
    grid-area: reset;
    font-size:1.5em;
    padding:0;
    transform: rotate(-90deg);
}

input[type=text], select {
    border:none;
    padding:0.25em;
    background-color: var(--vscode-input-background);
    color: var(--vscode-input-foreground);
    border-radius: 0.5em;
}
input[type=text]:disabled, select:disabled{
    cursor: not-allowed;
    background-color: var(--vscode-input-foreground);
    color: var(--vscode-input-background)
}

input[type=checkbox] {
    background-color: var(--vscode-checkbox-background);
    border-color: var(--vscode-checkbox-border);
    color: var(--vscode-checkbox-foreground);
    height:1.2em;
    width:1.2em;
    vertical-align: sub;
}

button {
    background-color: var(--vscode-button-background);
    color: var(--vscode-button-foreground);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
}
button:hover {
    background-color: var(--vscode-button-hoverBackground);
}